footer {
  text-align: center;
  background-color: #1a1a1a;
  height: 100%;
  width: 100%;
  color: #ffffff; 
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  border-top: 1px solid #333333; 
}

.footer-image {
  margin-bottom: 20px;
}

.footer-image img {
  height: 150px;
  width: 150px;
}

.footer-list {
  margin-bottom: 20px;
}

.footer-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-list ul li {
  margin-bottom: 5px;
  font-size: large;
}

.footer-list ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.footer-text {
  font-weight: bold;
  padding-bottom: 20px;
  color: #cccccc;
}
